.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title {
  position: relative;
  color: var(--color-white);
  font-family: 'Montserrat';
  z-index: 2;
  max-width: 450px;
  bottom: 0;
}

.title span {
  font-family: 'Bebas Neue';
  font-size: 3rem;
  color: var(--color-yellow);
}
.title h1 {
  font-family: 'Montserrat';
  font-size: 2rem;
}
