.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color-text);
  font-family: 'Montserrat';
  z-index: 2;
  max-width: 600px;
  bottom: 0;
  text-align: justify;
}

.title p {
  font-size: 1.3rem;
  font-weight: 300;
}
.title span {
  font-family: 'Bebas Neue';
  font-size: 3rem;
  color: var(--color-primary);
}
.title h1 {
  font-family: 'Montserrat';
  font-size: 2.5rem;
  margin: 0;
}
