.container {
  background-color: var(--color-bg-layout);

  border-radius: 10px;
  width: 50%;
  height: 50%;
}

.content img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.content p {
  font-size: 0.8rem;
}
.content {
  border-radius: 10px;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.technologies {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
