.container {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form {
  width: 40%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.btnContainer {
  padding: 10px;
}

.group input {
  width: 100%;
  height: 100%;
  color: var(--color-text);
  padding-top: 20px;
  background: none;
  border: none;
  outline: none;
}

.title h1 {
  font-family: 'Bebas Neue';
  font-size: 2.5rem;
  color: var(--color-primary);
}

.btnForm {
  width: 25%;
  border-radius: 1px;
  height: 40px;
  font-size: 0.8rem;
  font-weight: 600;
  font-family: 'Montserrat';
  text-transform: uppercase;
  transition: all 200ms linear;
  letter-spacing: 1px;
  display: inline-flex;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  text-align: center;
  border: none;
  background-color: var(--color-primary);
  color: var(--color-bg-layout);
}

.btnForm span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
}

.btnForm svg {
  margin-right: 0.8em;
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}

.btnForm:hover .svgWrapper {
  -webkit-animation: fly-1 0.6s ease-in-out infinite alternate;
  animation: fly-1 0.6s ease-in-out infinite alternate;
}

.btnForm:hover svg {
  transform: translateX(1.2em) rotate(45deg) scale(1.1);
}

.btnForm:hover span {
  transform: translateX(2em);
}

.btnForm:active {
  transform: scale(0.95);
}

@-webkit-keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }

  to {
    transform: translateY(-0.1em);
  }
}

@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }

  to {
    transform: translateY(-0.1em);
  }
}

@media only screen and (max-width: 600px) {
  .form {
    width: 90%;
    height: 90%;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .form {
    width: 80%;
    height: 90%;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .form {
    width: 60%;
    height: 80%;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .form {
    width: 60%;
    height: 80%;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .form {
    width: 50%;
    height: 80%;
  }
}
