.container {
  background-color: red;
  display: flex;
  position: fixed;
  justify-content: space-around;
  width: 100%;
  color: white;
}
.containerNav {
  display: flex;
  align-items: center;
  margin: 10px;
}
.containerLinks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
}

.logo {
  max-width: 120px;
}
.containerLi {
  border-bottom: 2px solid transparent;
  margin: 0 10px;
  padding: 2px;
}
