.container {
  background-color: var(--color-bg-layout);
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 40px;
  color: white;
  text-align: center;
}
.container span {
  color: var(--color-text);
}
.icons {
  color: var(--color-text);
}

.icons a {
  color: var(--color-text);
  text-decoration: none;
}

.icon {
  margin: 0 0.5rem;
}

.icon:hover {
  color: var(--color-primary);
  transition: all 400ms linear;
}
