.container {
  background-color: var(--color-blue-gray);
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 40px;
  color: white;
  text-align: center;
}

.icons {
  margin: 0.5rem auto;
  color: var(--color-white);
}

.icons a {
  color: var(--color-white);
  text-decoration: none;
}

.icon {
  margin: 0 0.5rem;
}

.icon:hover {
  color: var(--color-yellow);
}
