.icon {
  color: var(--color-text);
}

.icon:hover {
  color: var(--color-primary);
  transition: all 400ms linear;
}

.btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.btn span {
  margin: 5px;
  font-size: 1rem;
}

/* .btn:hover {
  transform: scale(1.5);
  transition-duration: 1s;
} */
