.icon {
  color: var(--color-text);
  margin-right: 5px;
}

.icon:hover {
  color: var(--color-primary);
  transition: all 400ms linear;
}

.btn {
  margin-inline: 10px;
  padding: 10px 15px;
  border-radius: 4px;
  height: 20px;
  font-size: 8px;
  font-weight: 600;
  font-family: 'Montserrat';
  text-transform: uppercase;
  transition: all 200ms linear;
  letter-spacing: 1px;
  display: inline-flex;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  text-align: center;
  border: none;
  background-color: var(--color-primary);
  color: var(--color-bg-layout);
}
.btn:active {
  background-color: var(--color-primary-strong, 0.5);
  color: var(--color-text);
  box-shadow: 0 8px 24px 0 rgba(16, 39, 112, 0.2);
}
.btn:hover {
  background-color: var(--color-primary-strong);
  color: var(--color-bg-layout);
  box-shadow: 0 8px 24px 0 rgba(16, 39, 112, 0.2);
}